{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{% if user==current_user %}我{% else %}ta{% endif %}关注的人</h4></div>
        <div class="panel-body">
            <div class="panel-body">
                {% if follows!=[] %}
                    <table class="table table-responsive">
                        <thead><tr class="text-left"><td>昵称</td><td class="text-right">关注日期</td></tr></thead>
                        {% for follow in follows %}
                            <tr>
                                <td class="text-left">
                                    <a href="{{ url_for('user.profile', id=follow.user.id) }}">
                                    {{ follow.user.nickname }}</a></td>
                                <td class="text-right">{{ moment(follow.timestamp).format('L') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>暂时没有关注{% if user==current_user %}您{% else %}ta{% endif %}的用户，快去
                        <a href="{{ url_for('index') }}">首页</a>关注优质文章的作者吧</p>
                {% endif %}
            </div>
        </div>
        <div class="pagination">
            {{ macros.pagination_widget(pagination, endpoint, id = user.id) }}
        </div>
    </div>
{% endblock %}