{% extends 'base.html' %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ title }}</h4></div>
        <div class="panel-body">
            <h2>{{ user.nickname }}</h2><br>
            {% for item in [user.city, user.email, user.about_me] %}
                {% if item %}
                    {{ item }}<br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="panel-footer text-right">
            {% if user == current_user %}
                <a href="{{ url_for('profile_edit') }}">Edit Profile</a>
            {% endif %}
        </div>
    </div>
{% endblock %}