{% extends 'base.html' %}

{% block page_content %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ title }}</h4></div>
        <div class="panel-body">
            <a style="float: left; width: 100px; height: 100px;margin-top: 10px;">
                <img style="width: 100%; height: 100%;" src="/static/icon/me.svg"></a>
            <div style="margin-left: 120px;"><h2>{{ user.nickname }}
                {% if user != current_user %}
                    {% if not current_user.is_anonymous==True and current_user.is_following(user) %}
                        <a class="btn btn-default pull-right"
                           href="{{ url_for('foll.unfollow', id=user.id) }}">取消关注</a>
                    {% else %}
                        <a class="btn btn-primary pull-right"
                           href="{{ url_for('foll.follow', id=user.id) }}">关注</a>
                    {% endif %}
                {% endif %}
            </h2>
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                <span class="label label-default">ta在关注你</span>
            {% endif %}
            <a class="label label-success" href="{{ url_for('foll.followers', id=user.id) }}">
                关注{% if user == current_user %}我{% else %}ta{% endif %}的：
                <span>{{ user.followers.count() }}</span></a>
            <a class="label label-info" href="{{ url_for('foll.followed_by', id=user.id) }}">
                {% if user == current_user %}我{% else %}ta{% endif %}关注的：
                <span>{{ user.followed.count() }}</span></a>
            </div><br><br>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    城市<span style="float: right">{% if user.city %}{{ user.city }}{% endif %}</span></li>
                <li class="list-group-item"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>&nbsp;
                    邮箱<span style="float: right">{% if user.email %}{{ user.email }}{% endif %}</span></li>
                <li class="list-group-item"><i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i>&nbsp;
                    个性签名<span style="float: right">{% if user.about_me %}{{ user.about_me }}</span>{% endif %}
            </ul>
            <ul class="list-group">
                {% if count %}
                    <li class="list-group-item"><i class="fa fa-file-text fa-lg" aria-hidden="true"></i>&nbsp;
                        最近文章</li>
                    {% for art in arts %}
                        {% if art %}
                            <li class="list-group-item">
                                <a href="{{ url_for('art.article', id=article.id) }}">
                                    {{ art.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if (count - 3) > 0 %}
                        <li class="list-group-item small">
                            <a href="{{ url_for('art.user_article', id=user.id) }}">更多文章......</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        {% if user == current_user %}
            <div class="panel-footer text-right">
                <a href="{{ url_for('user.profile_edit') }}">修改</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
