{% if articles %}
    {% for article in articles %}
        <div class="panel panel-default">
        {% if display %}
            <div class="panel-heading">
                <h2>
                    {% if display %}
                        {{ article.title }}
                    {% else %}
                        <a href="{{ url_for('art.article', id=article.id) }}">{{ article.title }}</a>
                    {% endif %}
                </h2>
                <span><a href="{{ url_for('user.profile', id=article.author.id) }}">
                    {{ article.author.nickname }}</a></span>
                <div style="float: right;">{{ moment(article.timestamp).fromNow() }}</div>
            </div>
            <div class="panel-body">
                {% if article.body_html %}
                    {{ article.body_html | safe }}
                {% else %}
                    {{ article.body }}
                {% endif %}
                <hr>
                <div>
                    <span>分享到</span>&nbsp;&nbsp;
                    <a href="http://www.jiathis.com/send/?webid=weixin&url={{ url_for('art.article', id=article.id, _external=True) }}&title={{ article.title }}">
                        <i class="fa fa-weixin fa-lg" aria-hidden="true" style="color: #5cb85c;">
                        </i></a>&nbsp;&nbsp;
                    <a href="http://www.jiathis.com/send/?webid=tsina&url={{ url_for('art.article', id=article.id, _external=True) }}&title={{ article.title }}">
                        <i class="fa fa-weibo fa-lg" aria-hidden="true" style="color: #b92c28;"></i></a>
                </div>
            </div>
            {% if current_user.id == article.author_id %}
                <div class="panel-footer text-right">
                    <a href="{{ url_for('art.edit_article', id=article.id) }}">修改</a>
                </div>
            {% endif %}
        {% else %}
            <div class="panel-heading">
                <h4>
                    {% if display %}
                        {{ article.title }}
                    {% else %}
                        <a href="{{ url_for('art.article', id=article.id) }}">{{ article.title }}</a>
                    {% endif %}
                </h4>
                <span><a href="{{ url_for('user.profile', id=article.author.id) }}">
                    {{ article.author.nickname }}</a></span>
                <div style="float: right;">{{ moment(article.timestamp).fromNow() }}</div>
            </div>
        {% endif %}
        </div>
    {% endfor %}
{% else %}
    <div class="text-left">
        没有文章可以展示，不如<a href="{{ url_for('art.new_article') }}">发一篇</a>文章吧！
    </div>
{% endif %}
