{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <title>Light Blog</title>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="w8ueZGK8vQ" />
    <meta content="Light Blog,light blog,轻博客,博客网站,博客平台" name="keywords">
    <meta content="畅所欲言的轻博客平台，每个人都是博主" name="description">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-ico">
{% endblock %}

{% block title %}Light Blog{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Light Blog</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('art.new_article') }}">发文章</a></li>
                    <li><a href="{{ url_for('art.my_article') }}">我的文章</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('user.profile', id=current_user.id) }}">
                            {{ current_user.nickname }}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.register') }}">注册</a></li>
                        <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
        <div>
            任何关于本站的问题，请通过邮件联系站长:
            <a href="mailto:zhancongc@lightblog.site">zhancongc@lightblog.site</a><br>
            &copy; Light Blog<br><br>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
